@model SMSystem.Models.LoginModel

@{
    ViewBag.Title = "AdminLogin";
}

<h2>Login</h2>

<style>
    .error {
        color: red
    }
</style>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

<head>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>


@using (Html.BeginForm("AdminLogin", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red; margin-bottom:10px;">
            @ViewBag.Message
        </div>
    }

    @Html.LabelFor(l => l.AdminEmail, new { @class = "", placeholder = "Enter your registered email-id" })
    @Html.TextBoxFor(d => d.AdminEmail)
    @Html.ValidationMessageFor(m => m.AdminEmail, "", new { @class = "error" })

    <br />

    @Html.LabelFor(l => l.Password, new { @class = "", placeholder = "Enter your password." })
    @Html.PasswordFor(d => d.Password)
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })

    <br />

    <button type="submit">Login</button>
}

