@model SMSystem.Models.LoginModel

@{
    ViewBag.Title = "AdminLogin";
}

<h2>Login</h2>

<style>
    .error {
        color: red
    }
</style>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}

<head>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>


@using (Html.BeginForm("AdminLogin", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    if (@ViewBag.Message != null)
    {
        <h3 style="margin:10px; color: red; padding:10px">
            @ViewBag.Message
        </h3>
    }

    <div>
        @Html.LabelFor(l => l.AdminEmail, new { @class = "", placeholder = "Enter your registered email-id" })
        <div>
            @Html.TextBoxFor(d => d.AdminEmail)
            @Html.ValidationMessageFor(m => m.AdminEmail, "", new { @class = "error" })
        </div>
    </div>

    <br />

    <div>
        @Html.LabelFor(l => l.Password, new { @class = "", placeholder = "Enter your password." })
        <div>
            @Html.PasswordFor(d => d.Password)
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
        </div>
    </div>


    <br />
    <br />

    <button type="submit">Login</button>
}