@model SMSystem.Models.LoginModel

@{
    ViewBag.Title = "ForgetPassword";
}

<body style="background-image: url(../../Images/SMSbg.svg); background-position-x: right; overflow:clip; background-position-y: bottom; background-attachment: fixed; background-repeat: no-repeat;">

    <h2>Forgot Password</h2>


    @using (Html.BeginForm("ForgetPassword", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />

            @if (@ViewBag.Message1 != null)
            {
                <h3 style="margin:5px; color: red; padding:10px">
                    @ViewBag.Message1
                    <br />
                    @ViewBag.Message2
                    <br />
                    @ViewBag.Message3
                </h3>
            }

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AdminId, "Admin Id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdminId, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Id" } })
                    @Html.ValidationMessageFor(model => model.AdminId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdminEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email" } })
                    @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Login", "AdminLogin")
    </div>

    
</body>