<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Managment System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["AdminId"] == null)
                {
                    @Html.ActionLink("SMS", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }

                @if (Session["AdminId"] != null)
                {
                    @Html.ActionLink("SMS", "WelcomeScreen", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }

            </div>

            <div class="navbar-collapse collapse">

                @if (Session["AdminId"] == null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Registration", "AdminRegistration", "Admin")</li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Login", "AdminLogin", "Admin")</li>
                        </ul>
                    </div>
                }


                @if (Session["AdminId"] != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Courses", "CourseList", "Course")</li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Status", "StatusList", "Status")</li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Students", "StudentList", "Student")</li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li style="color: white; padding-top:15px; padding-left:280px "><p style="">Welcome @Session["AdminName"]!</p>  </li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li style="padding-left:350px">@Html.ActionLink("Logout", "Logout", "Admin")</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Student Managment System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
