@model IEnumerable<SMSystem.Models.Student>

@{
    ViewBag.Title = "StudentList";
}

<h2>Student List</h2>

<p>
    @Html.ActionLink("Create New", "StudentRegistration")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentDoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Parent.FatherName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentDoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JoiningDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cours.CourseName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Parent.FatherName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
