@model IEnumerable<SMSystem.Models.Cours>

@{
    ViewBag.Title = "Course List";
}

@if (@ViewBag.Message != null)
{
    <div style="border: 1px solid red; margin-bottom:10px;">
        @ViewBag.Message
    </div>
}

<h2>Course List</h2>

<p>
    @Html.ActionLink("Add Course", "AddCourse")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCourse", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "DeleteCourse", new { id = item.CourseId }, new { onclick = "return confirm('Are you sure you want to delete this Course?')"} )
            </td>
        </tr>
    }

</table>
